@media (min-width: 1200px) {
  .Chat {
    margin-left: -180px;
    margin-top: -225px;
    width: 360px;
    height: 450px;
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .Chat {
    margin-left: -180px;
    margin-top: -225px;
    width: 360px;
    height: 450px;
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .Chat {
    margin-left: -180px;
    margin-top: -225px;
    width: 360px;
    height: 450px;
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 599px) {
  .Chat {
    width: calc(100% - 60px);
    height: calc(100% - 150px);
    top: 50px;
    left: 10px;
  }
}

.Chat {
  border-radius: 20px;
  background-color: var(--lighter-background-color);
  padding: 20px;
  position: fixed;
  z-index: 1;
  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Chat .ChatHeader button img {
  height: 35px;
  margin: 0 -8px 0 0;
}

.Chat .ChatHeader button {
  background-color: var(--lighter-background-color);
}

.Chat .ChatHeader button:hover {
  cursor: pointer;
}


.Chat .ChatHeader {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 35px;
}

.Chat .ChatHeader div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}



.Chat .ChatHeader .FriendImage {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  object-fit: cover;
  object-position: center top;
  border-radius: 20px;
}

.Chat .ChatHeader .FriendImage:hover {
  cursor: pointer;
}

.Chat .ChatHeader h3 {
  font-size: 1.4em;
  margin: 0;
}


.Chat .ChatHeader h3:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.Chat .ChatWindow {
  flex: 1;
  background-color: var(--form-background-color);
  border-radius: 20px 10px 10px 20px;
  overflow-y: auto;
}

.Chat .ChatWindow::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

.Chat .ChatWindow ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.Chat .ChatWindow ul .out {
  background-color: var(--lighter-background-color);
}

.Chat .ChatWindow ul .in {
  background-color: var(--background-color);
}



.Chat .ChatControlls {}

.Chat .ChatControlls form {
  flex-direction: row;
  padding: 0;
  gap: 20px;
}

.Chat .ChatControlls form input {
  font-size: 1em;
  color-scheme: dark;
  border-radius: 15px;
  height: 35px;
  padding: 0 10px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  width: 100%;
}

.Chat .ChatControlls form button {
  padding: 0;
  width: 35px;
  height: 35px;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
}

.Chat .ChatControlls form button:hover {
  cursor: pointer;
}

.Chat .ChatControlls form button img {
  margin: 2px 2px 0 0;
  height: 30px;
}