@media (min-width: 1200px) {
  .CreatePost img {
    width: 50px;
    border-radius: 25px;
  }
  .CreatePost form div:first-of-type {
    gap: 20px;
  }

  .CreatePost form div:last-of-type {
    gap: 40px;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .CreatePost{
    width: 100%;
  }
  .CreatePost img {
    width: 50px;
    border-radius: 25px;
  }
  .CreatePost form div:first-of-type {
    gap: 20px;
  }

  .CreatePost form div:last-of-type {
    gap: 40px;
  }

}

@media (min-width: 600px) and (max-width: 799px) {
  .CreatePost{
    width: 100%;
  }
  .CreatePost img {
    width: 80px;
    border-radius: 40px;
  }
  .CreatePost form div:first-of-type {
    gap: 20px;
  }

  .CreatePost form div:last-of-type {
    gap: 40px;
  }
}

@media (max-width: 599px) {
  .CreatePost{
    width: 100%;
  }
  .CreatePost img {
    width: 50px;
    border-radius: 25px;
  }

  .CreatePost form div {
    gap: 20px;
  }
}

.CreatePost {
  background-color: var(--lighter-background-color);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  display: flex;
  box-sizing: border-box;
}

.CreatePost form {
  padding: 0;
  flex-direction: column;
  border-radius: 0;
  width: 100%;
  gap: 20px;
}

.CreatePost textarea {
  height: 80px;
  font-size: 1em;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
}

.CreatePost textarea::placeholder {
  color: var(--text-color);
}

.CreatePost form div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CreatePost button {
  width: 100px;
}


.CreatePost .privateToggle button:first-of-type {
  border-radius: 20px 0 0 20px;
}

.CreatePost .privateToggle button:last-of-type {
  border-radius: 0 20px 20px 0;
}

.CreatePost .privateToggle button {
  width: 80px;
}

.CreatePost .privateToggle .inactive {
  border: 1px solid var(--form-background-color);
  background-color: transparent;
  color: var(--darker-text-color);
}

.CreatePost .privateToggle .inactive:hover {
  border: 1px solid var(--darker-text-color);
  background-color: transparent;
  color: var(--text-color);
}

.CreatePost .privateToggle .active {
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
}


.CreatePost form .errorMessage {
  margin: -10px 0;
}

.CreatePost form .messages {
  margin-right: 2px;
}