@media (max-width: 630px) {
  .Header h3 {
    display: none;
  }
}

.Header {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.Header div {
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.Header div:first-of-type {
  gap: 10px;
}

.Header img {
  height: 24px;
}

.Header h3 {
  margin: 0;
  padding: 0 ;
  font-size: 1.2em;
}

.Header h3:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.Header .profilePicture {
  height: 32px;
  border-radius: 18px;
  border: 2px solid var(--form-background-color);
}

.Header .profilePicture:hover {
  cursor: pointer;
  border: 2px solid var(--highlight-color);
}

.HeaderMenu {
  position: relative;
  display: inline-block;
}

.HeaderMenu ul {
  border-radius: 20px;
  background-color: var(--form-background-color);
  padding: 5px 20px;
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  right: -20px;
  top: 50px;
  width: 280px;
  text-align: center;
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.398);
}

.HeaderMenu li {
  border-radius: 20px;
  margin: -5px -20px;
}

.HeaderMenu li:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.Header form {
  margin-right: 20px;
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.Header form input {
  font-size: 1em;
  color-scheme: dark;
  border-radius: 15px;
  height: 30px;
  padding: 0 10px;
  background-color: var(--form-background-color);
  color: var(--text-color);
  border: none;
}

.Header .headerRight {
  flex-grow: 1;
  max-width: 400px;
}