@media (min-width: 581px) {
  .SearchMenu ul {
    right: 5px;
  }
}

@media (max-width: 580px) {
  .Header h3 {
    display: none;
  }

  .SearchMenu ul {
    right: -55px;
  }
}

.Header {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.Header div {
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.CornIcon {
  height: 24px;
}

.Header h3 {
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 1.2em;
}

.Header h3:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.Header img:hover {
  cursor: pointer;
}

.Header .profilePicture {
  height: 32px;
  border-radius: 18px;
  border: 2px solid var(--form-background-color);
}

.Header .profilePicture:hover {
  cursor: pointer;
  border: 2px solid var(--highlight-color);
}

.SearchMenu,
.HeaderMenu {
  position: relative;
  display: inline-block;
}

.SearchMenu ul,
.HeaderMenu ul {
  border-radius: 20px;
  background-color: var(--form-background-color);
  padding: 5px 20px;
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  width: 280px;
  text-align: center;
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.398);
  display: flex;
  flex-direction: column;
}

.SearchMenu ul {
  gap: 10px;
}

.HeaderMenu ul {
  right: -20px;
}

.SearchMenu li,
.HeaderMenu li {
  border-radius: 20px;
  margin: -5px -20px;
  padding: 0 20px;
}

.SearchMenu li:hover,
.HeaderMenu li:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.Header form {
  margin-right: 20px;
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.Header form input {
  font-size: 1em;
  color-scheme: dark;
  border-radius: 15px;
  height: 30px;
  padding: 0 10px;
  background-color: var(--form-background-color);
  color: var(--text-color);
  border: none;
}

.Header .headerRight {
  flex-grow: 1;
  max-width: 350px;
}

.searchPreview p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  color: var(--form-background-color);
  font-size: 0.8em;
  white-space: nowrap;
}

.searchPreview h4 {
  color: var(--text-color);
  margin: 0 0 5px 0;
  white-space: nowrap;
}

.searchPreview h4:hover {
  color: var(--text-color);
  cursor: pointer;
}

.searchPreview img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center top;
  border-radius: 20px;
}

.searchPreview img:hover {
  cursor: pointer;
}

.searchPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.searchPreviewText {
  width: 150px;
  overflow: hidden;
}
.HeaderMenu .LogoutButton,
.SearchMenu .CloseButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.HeaderMenu .LogoutButton img,
.SearchMenu .CloseButton img {
  height: 24px;
}
