@media (min-width: 1200px) {
  .Home {
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .middleDiv {
    flex: 1;
  }
}


@media (min-width: 800px) and (max-width: 1199px) {
  .Home {
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 20px;
  }

  .middleDiv {
    flex: 1;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .leftDiv,
  .middleDiv {
    width: 100%;
  }
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media (max-width: 599px) {
  .leftDiv,
  .middleDiv {
    width: 100%;
  }
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Home {
  width: 100%;
  gap: 20px;
}

.middleDiv {
  display: flex;
  flex-direction: column;
  gap: 20px
}