@media (min-width: 1200px) {
  .Home {
    display: flex;
    flex-direction: row;
  }
}


@media (min-width: 800px) and (max-width: 1199px) {
  .Home {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 799px) {
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Home {
  width: 100%;
}