@media (min-width: 800px) {
  .NewUsers {
    display: flex;
  }
}


@media (max-width: 799px) {
  .NewUsers {
    display: none;
  }
}

.NewUsers {
  background-color: var(--lighter-background-color);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  box-sizing: border-box;
}

.NewUsers ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.NewUsers ul li {
  border-radius: 20px;
}

.NewUsers ul li:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}


.NewUsers h3 {
  margin: 0;
}

.profilePreview p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  color: var(--form-background-color);
  font-size: 0.8em;
  white-space: nowrap;
}

.profilePreview h4 {
  color: var(--darker-text-color);
  margin: 0 0 5px 0;
  white-space: nowrap;
}

.profilePreview img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center top;
  border-radius: 20px;
}

.profilePreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profilePreview h4 {
  font-size: 0.9em;
  color: var(--text-color);
}

.profilePreviewText {
  width: 150px;
  overflow: hidden;
}