@media (min-width: 600px) {
  .Post .PostTop img {
    max-width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .Post .PostTop {
    gap: 20px;
  }
}

@media (max-width: 599px) {
  .Post .PostTop img {
    max-width: 34px;
    height: 34px;
    border-radius: 17px;
  }
  .Post .PostTop {
    gap: 10px;
  }
}

.PostFeed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

.Post {
  background-color: var(--lighter-background-color);
  border-radius: 20px;
  padding: 20px;
}

.Post form {
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
}

.Post .PostTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Post .PostTop h4 {
  font-size: 1.2em;
  margin: 0;
}

.Post .PostTop .timestamp {
  color: var(--darker-text-color);
  font-weight: 200;
  font-size: 0.8em;
  margin: 2px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.Post .PostTop .timestamp img {
  width: 14px;
}

.Post .postText {
  font-weight: 200;
}

.Post button {
  border: none;
  background-color: transparent;
  color: var(--darker-text-color);
  font-size: 0.9em;
  height: 20px;
  padding: 0;
}

.Post .likeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--darker-text-color);
}

.Post button:hover {
  background-color: transparent;
  color: var(--text-color);
}

.Post .likeBtn img {
  width: 16px;
}

.Post .commentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--darker-text-color);
}

.Post .commentBtn img {
  width: 16px;
  margin-top: 2px;
}

.Post .PostTop h4:hover {
  cursor: pointer;
}

.Post .PostTop .PostImage:hover {
  cursor: pointer;
}

.Post .PostImage {
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

.Post .stats .shorts button:hover {
  cursor: pointer;
}

.Post .stats .likes {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Post .stats .likes li:hover {
  color: var(--text-color);
  cursor: pointer;
}

.Post .stats .likes li {
  color: var(--darker-text-color);
}
