@media (min-width: 800px) {
  .Profile {
    flex-direction: column;
    gap: 10px;
  }
  .Profile img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

@media (min-width: 500px) and (max-width: 799px) {
  .Profile {
    gap: 50px;
  }
  .Profile img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
}

@media (max-width: 499px) {
  .Profile img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  .Profile {
    flex-direction: column;
    gap: 10px;
  }
}

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-background-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.ProfileTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Profile h4 {
  margin: 0;
  font-size: 1.5em;
}

.Profile p {
  margin: 0;
  font-style: italic;
  color: var(--darker-text-color);
}

.Profile a {
  font-size: 1em;
  border-radius: 20px;
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 280px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--form-background-color);
  text-decoration: none;
  margin-top: 10px;
}

.Profile a:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
  cursor: pointer;
}

.Profile img {
  object-fit: cover;
  object-position: center top;
}

.Profile img:hover {
  cursor: pointer;
}

.Profile h4:hover {
  cursor: pointer;
  color: var(--highlight-color);
}
