@media (min-width: 1200px) {
  .ProfileDetail img {
    width: 200px;
    border-radius: 100px;
  }
  .ProfileDetail {
    gap: 100px;
  }

  .ProfileDetail h4 {
    font-size: 2em;
  }

  .ProfileMenu form {
    justify-content: flex-end;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .ProfileDetail img {
    width: 200px;
    border-radius: 100px;
  }
  .ProfileDetail {
    gap: 50px;
  }

  .ProfileDetail h4 {
    font-size: 2em;
  }
  .ProfileMenu form {
    justify-content: flex-end;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .ProfileDetail img {
    width: 120px;
    border-radius: 60px;
  }
  .ProfileDetail {
    gap: 40px;
  }

  .ProfileDetail h4 {
    font-size: 1.5em;
  }
  .ProfileMenu form {
    justify-content: flex-end;
  }
}

@media (max-width: 599px) {
  .ProfileDetail {
    flex-direction: column;
    gap: 20px;
  }
  .ProfileDetail img {
    width: 120px;
    border-radius: 60px;
  }

  .ProfileDetail h4 {
    font-size: 1.5em;
  }
  .ProfileMenu form {
    justify-content: center;
  }
}

.ProfileDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-background-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}


.ProfileDetailTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ProfileDetail h4 {
  margin: 0;
}

.ProfileDetail p {
  margin: 10px;
  font-style: italic;
  color: var(--darker-text-color);
}


.ProfileDetail a {
  font-size: 1em;
  border-radius: 20px;
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 280px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--form-background-color);
  text-decoration: none;
  margin-top: 10px;
}

.ProfileDetail a:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
  cursor: pointer;
}

.ProfileMenu {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.ProfileMenu form {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 0;
  gap: 20px;
}

.ProfileMenu form button {
  width: 130px;
  background-color: var(--form-background-color);
  color: var(--darker-text-color);
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.ProfileMenu form button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.ProfileMenu form button:first-of-type img {
  width: 22px;
}

.ProfileMenu form button:last-of-type img {
  width: 18px;
}